In [2]:
print("heelo")

heelo

In [4]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [5]:
## load the model ,scalr, pickle ,one hot

In [31]:
model=load_model('model.h5')
with open('ONE_HOT','rb') as file:
    ONE_HOT=pickle.load(file)

with open('gender_encoder','rb') as file:
    gender_encoder=pickle.load(file)

with open('scaler','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [22]:
input_data={
    "CreditScore": 682,
    "Geography":"France",
    "Gender": "Male",
    "Age": 58,
    "Tenure": 1,
    "Balance": 0.00,
    "NumOfProducts": 1,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 706.50,
    # "Geography_France": 1.0,
    # "Geography_Germany": 0.0,
    # "Geography_Spain": 0.0
}

In [23]:
geo_encoded=ONE_HOT.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ONE_HOT.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\DELL\anaconda3\envs\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [24]:
input_df = pd.concat([pd.DataFrame(input_data, index=[0]), geo_encoded_df], axis=1)

In [25]:
input_df

   CreditScore Geography  ... Geography_Germany  Geography_Spain
0          682    France  ...               0.0              0.0

[1 rows x 13 columns]

In [26]:
### encoding the  gender column
input_df['Gender']=gender_encoder.transform(input_df['Gender'])

In [27]:
input_df

   CreditScore Geography  ...  Geography_Germany  Geography_Spain
0          682    France  ...                0.0              0.0

[1 rows x 13 columns]

In [33]:
input_df=input_df.drop(['Geography'],axis=1)

In [34]:
##scaling the data
input_df=scaler.transform(input_df)

In [35]:
##predict churn
prediction=model.predict(input_df)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 398ms/step

In [36]:
print(prediction)

[[0.57961255]]

In [38]:
prediction_proba=prediction[0][0]

if prediction_proba>0.5:
    print("The customer is likely to churn")

else:
    print("the customer os not likely to churn")

The customer is likely to churn